@import "bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Do Not Remove the top */

/* Custom styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

body.dark-mode {
  background-color: #000;
  color: #fff;
}

body.dark-mode a,
body.dark-mode button,
body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
  color: #fff;
  background-color: #111;
  border-color: #444;
}

body.dark-mode .navbar,
body.dark-mode .navbar * {
  background-color: #111 !important;
  color: #fff !important;
}
